{% extends "base.html" %}
{% load static %}

{% block pageTitle %}
Login Page
{% endblock pageTitle %}

{% block slidePanel %}
{% include "blog/navigations/slideBar.html" %}
{% endblock slidePanel %}

{% block header %}
{% include "blog/navigations/header.html" %}
{% endblock header %}

{% block content %}
<div class="w3-container w3-card-4 w3-light-grey w3-padding-32" style="max-width: 400px; margin-top: 50px; margin-left: auto; margin-right: auto; border-radius: 16px;">
    
    <h2 class="w3-center">Login</h2>

    <form action="" method="POST">
        {% csrf_token %}

        <!-- Username Field -->
        <div style="margin-top: 16px;">
            <label for="id_username">Username</label>
            <input class="w3-input w3-border" type="text" id="id_username" name="username" required>
        </div>

        <!-- Password Field -->
        <div style="margin-top: 16px;">
            <label for="id_password">Password</label>
            <input class="w3-input w3-border" type="password" id="id_password" name="password" required>
        </div>

        <button type="submit" class="w3-button w3-blue w3-block w3-margin-bottom" style="margin-top: 16px;">Login</button>
    </form>

    {% if error_message %}
        <p class="w3-center w3-text-red">{{ error_message }}</p>
    {% endif %}

    <p class="w3-center">Don't have an account? <a href="{% url 'registerURL' %}">Register</a></p>
</div>

{% endblock content %}

{% block footer %}
{% include "blog/navigations/footer.html" %}
{% endblock footer %}
